<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.SpringStarter.example.mapper.BoardMapper">
<select id="readBoard" parameterType="String" resultType="Board">
	select *
	from board
	where boardsubject =#{subjectname}
</select>
<insert id="createBoard" parameterType="Board">
	insert into board(
	idboard,
	boardname,
	boardsubject,
	boardcontent,
	boardwriter,
	hit,
	likenum
	)
	values(
	#{idboard},
	#{boardname},
	#{boardsubject},
	#{boardcontent},
	#{boardwriter},
	#{hit},
	#{likenum}
	)
	ON DUPLICATE KEY UPDATE
	idboard =#{idboard},
	boardname =#{boardname},
	boardcontent =#{boardcontent};

	
		
</insert>
<delete id="deleteBoard" parameterType="int">
	delete from board
	where idboard = #{idboard};
</delete>


<select id="readoneBoard" parameterType="int" resultType="Board">
	select *
	from board
	where Idboard = #{Idboard};
</select>
<update id ="updatelikenum" parameterType="int">
	update board
	set likenum = likenum+1
	where Idboard = #{Idboard};
</update>
<update id ="deletelikenum" parameterType="int">
	update board
	set likenum = likenum-1
	where Idboard =#{Idboard};

</update>
<select id="maxpage" parameterType="String" resultType="int">
select MAX(currentpage) as maxpage
from(
select b.*,FLOOR(@rownum:=@rownum+1/10)+1 as currentpage
from board b
where (@rownum:=0)=0 and b.boardsubject = #{subjectname}
order by datetime desc
)as a
</select>
</mapper>