<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.SpringStarter.example.mapper.BoardMapper">
<select id="readBoard" parameterType="Subject" resultType="Board">
select *
from(
		select a.*, @rownum:=@rownum+1 as rnum
		from board as a,(select @rownum:=0)as b
		where boardsubject = #{subjectname} 
		order by datetime
)as c
where c.rnum between (#{currentpage}-1)*10+1 and #{currentpage}*10
</select>
<insert id="createBoard" parameterType="Board">
	insert into board(
	idboard,
	boardname,
	boardsubject,
	boardcontent,
	boardwriter,
	hit,
	likenum
	)
	values(
	#{idboard},
	#{boardname},
	#{boardsubject},
	#{boardcontent},
	#{boardwriter},
	#{hit},
	#{likenum}
	)
	ON DUPLICATE KEY UPDATE
	idboard =#{idboard},
	boardname =#{boardname},
	boardcontent =#{boardcontent};

	
		
</insert>
<delete id="deleteBoard" parameterType="int">
	delete from board
	where idboard = #{idboard};
</delete>


<select id="readoneBoard" parameterType="int" resultType="Board">
	select *
	from board
	where Idboard = #{Idboard};
</select>
<update id ="updatelikenum" parameterType="int">
	update board
	set likenum = likenum+1
	where Idboard = #{Idboard};
</update>
<update id ="deletelikenum" parameterType="int">
	update board
	set likenum = likenum-1
	where Idboard =#{Idboard};

</update>

<select id="maxpage" parameterType="String" resultType="int">
select count(*)
from board
where boardsubject = #{subjectname};
</select>
<update id="refreshhit" parameterType="int">
	update board
	set hit = hit+1
	where Idboard = #{Idboard};	
</update>

</mapper>